html
{
    font-family: "Roboto" !important;
}
.color
{
    color: black;
    background-color: #00a2ff;
    border-color: #000000;
}
img
{
    width: 150px;
}
.bg-color
{
    background-color: #00a2ff;
}